extends ../layout
block illustrative

block content
    include ../sections/_topic_heading
    include ../sections/_topic_list
block script
    script.
        (function() {

            function init() {
              var speed = 330,
                easing = mina.backout;

              [].slice.call ( document.querySelectorAll( '#grid > a' ) ).forEach( function( el ) {
                var s = Snap( el.querySelector( 'svg' ) ), path = s.select( 'path' ),
                  pathConfig = {
                    from : path.attr( 'd' ),
                    to : el.getAttribute( 'data-path-hover' )
                  };

                el.addEventListener( 'mouseenter', function() {
                  path.animate( { 'path' : pathConfig.to }, speed, easing );
                } );

                el.addEventListener( 'mouseleave', function() {
                  path.animate( { 'path' : pathConfig.from }, speed, easing );
                } );
              } );
            }

            init();

        })();
