extends ../layout

block illustrative
    include ../sections/_HPillustrative
block content
    include ../sections/_HPcontent


block script
    script.
        $(document).ready(function () {

        });

