head
    mate(charset='utf-8')
    meta(name='renderer', content='webkit')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport',content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    title= title
    //-Bootstrap
    link(rel='stylesheet', href='http://cdn.bootcss.com/twitter-bootstrap/3.2.0/css/bootstrap.min.css')
    //-Bootstrap-plugins
    link(rel='stylesheet', href='http://cdn.bootcss.com/bootstrap-tokenfield/0.12.0/css/bootstrap-tokenfield.min.css')
    link(rel='stylesheet', href='http://cdn.bootcss.com/bootstrap-validator/0.4.5/css/bootstrapvalidator.min.css')
    link(rel='stylesheet', href='/stylesheets/fileinput.min.css')
    //-Font-Awesome Icon
    link(rel='stylesheet', href='http://cdn.bootcss.com/font-awesome/4.1.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/ap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    //-HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    //-WARNING: Respond.js doesn't work if you view the page via file://
    |<!--[if lt IE 9]>
    |    <script src="http://cdn.bootcss.com/html5shiv/r29/html5.jquery.parallax.min.js"></script>
    |    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.jquery.parallax.min.js"></script>
    |<![endif]-->