div.editor-container
    div.heading
        ul.nav.editor-nav
            li
                a.tultips(href='#', data-toggle='tooltip', data-placement='bottom', title='删除', role='button')
                    i.fa.fa-trash-o.leisure-nav.right-nav-label
            li.pull-right
                a.tultips(href='#', data-toggle='tooltip', data-placement='bottom', title='发布', role='button')
                    i.fa.fa-share-square-o.leisure-nav.right-nav-label
            li.pull-right
                a.tultips(href='#', data-toggle='tooltip', data-placement='bottom', title='保存', role='button')
                    i.fa.fa-save.leisure-nav.right-nav-label
    div.medium-editor.medium-editor-title
        p 请编辑你的标题。。。
    div.medium-editor.medium-editor-content
        p 请编辑你的内容。。。
