.heading
    ul.nav.nav-tabs
        li.text.active
            a(href='#') 我的订阅
        li.text
            a(href='#') 我的代购
        li.text
            a(href='#')
                i.fa.fa-refresh
        li.search.pull-right
            form
                input(required='', type='text', style='ap')
                label(alt='搜索', placeholder='开始搜索')
.list.p100
    ul.list-ul
        li
            .content
                a.title(href='#', target='_blank') 山中故事
                a.author-avatar(href='#')
                    img.img-circle(src='images/avatar.jpeg')
                a.content(href='#', target='_blank')
                    | 一       我租住的房子在山下一个小村落里，一个月只要180块钱。屋内很简陋，只有一张床，一张桌子和一个靠背椅，床上只铺着一床竹席。晚上蚊子特别多，刚来我就去村子小卖部买了一包蚊香，质量很差，燃起来很呛人。早上一起来，地上落满了虫子的尸体。我又去买了一个电蚊香，虽然不呛人，但地上依然是虫...
                .article-info
                    a.author(href='#') 破罐
                    i.fa.fa-book
                    a.notebook(href='#') 日記本
                    i.fa.fa-th
                    a.collections(href='/collection/dqfRwQ') 短篇小说,
                    a.collections(href='/collection/fcd7a62be697') 身边的故事,
                    a.collections(href='/collection/b17398aad58e') 毒眼寻珠
                    a(href='#', target='_blank')
                        i.fa.fa-comments-o
                        | 1
                    a.like-icon-button(data-method='post', data-remote='true', data-type='json', href='/notes/208343/like', rel='nofollow')
                        i.fa.fa-heart-o
                        | 3
                    a#bookmark_note_208343.bookmark(data-method='post', data-remote='true', href='/notes/4a220050e500/bookmark', rel='nofollow')
                        i.fa.fa-bookmark-o
        li
            .content
                a.title(href='#', target='_blank') 山中故事
                a.author-avatar(href='#')
                    img.img-circle(src='images/avatar.jpeg')
                a.content(href='#', target='_blank')
                    | 一       我租住的房子在山下一个小村落里，一个月只要180块钱。屋内很简陋，只有一张床，一张桌子和一个靠背椅，床上只铺着一床竹席。晚上蚊子特别多，刚来我就去村子小卖部买了一包蚊香，质量很差，燃起来很呛人。早上一起来，地上落满了虫子的尸体。我又去买了一个电蚊香，虽然不呛人，但地上依然是虫...
                .article-info
                    a.author(href='#') 破罐
                    i.fa.fa-book
                    a.notebook(href='#') 日記本
                    i.fa.fa-th
                    a.collections(href='/collection/dqfRwQ') 短篇小说,
                    a.collections(href='/collection/fcd7a62be697') 身边的故事,
                    a.collections(href='/collection/b17398aad58e') 毒眼寻珠
                    a(href='#', target='_blank')
                        i.fa.fa-comments-o
                        | 1
                    a.like-icon-button(data-method='post', data-remote='true', data-type='json', href='/notes/208343/like', rel='nofollow')
                        i.fa.fa-heart-o
                        | 3
                    a#bookmark_note_208343.bookmark(data-method='post', data-remote='true', href='/notes/4a220050e500/bookmark', rel='nofollow')
                        i.fa.fa-bookmark-o
        li
            .content
                a.title(href='#', target='_blank') 山中故事
                a.author-avatar(href='#')
                    img.img-circle(src='images/avatar.jpeg')
                a.content(href='#', target='_blank')
                    | 一       我租住的房子在山下一个小村落里，一个月只要180块钱。屋内很简陋，只有一张床，一张桌子和一个靠背椅，床上只铺着一床竹席。晚上蚊子特别多，刚来我就去村子小卖部买了一包蚊香，质量很差，燃起来很呛人。早上一起来，地上落满了虫子的尸体。我又去买了一个电蚊香，虽然不呛人，但地上依然是虫...
                .article-info
                    a.author(href='#') 破罐
                    i.fa.fa-book
                    a.notebook(href='#') 日記本
                    i.fa.fa-th
                    a.collections(href='/collection/dqfRwQ') 短篇小说,
                    a.collections(href='/collection/fcd7a62be697') 身边的故事,
                    a.collections(href='/collection/b17398aad58e') 毒眼寻珠
                    a(href='#', target='_blank')
                        i.fa.fa-comments-o
                        | 1
                    a.like-icon-button(data-method='post', data-remote='true', data-type='json', href='/notes/208343/like', rel='nofollow')
                        i.fa.fa-heart-o
                        | 3
                    a#bookmark_note_208343.bookmark(data-method='post', data-remote='true', href='/notes/4a220050e500/bookmark', rel='nofollow')
                        i.fa.fa-bookmark-o
        li
            .content
                a.title(href='#', target='_blank') 山中故事
                a.author-avatar(href='#')
                    img.img-circle(src='images/avatar.jpeg')
                a.content(href='#', target='_blank')
                    | 一       我租住的房子在山下一个小村落里，一个月只要180块钱。屋内很简陋，只有一张床，一张桌子和一个靠背椅，床上只铺着一床竹席。晚上蚊子特别多，刚来我就去村子小卖部买了一包蚊香，质量很差，燃起来很呛人。早上一起来，地上落满了虫子的尸体。我又去买了一个电蚊香，虽然不呛人，但地上依然是虫...
                .article-info
                    a.author(href='#') 破罐
                    i.fa.fa-book
                    a.notebook(href='#') 日記本
                    i.fa.fa-th
                    a.collections(href='/collection/dqfRwQ') 短篇小说,
                    a.collections(href='/collection/fcd7a62be697') 身边的故事,
                    a.collections(href='/collection/b17398aad58e') 毒眼寻珠
                    a(href='#', target='_blank')
                        i.fa.fa-comments-o
                        | 1
                    a.like-icon-button(data-method='post', data-remote='true', data-type='json', href='/notes/208343/like', rel='nofollow')
                        i.fa.fa-heart-o
                        | 3
                    a#bookmark_note_208343.bookmark(data-method='post', data-remote='true', href='/notes/4a220050e500/bookmark', rel='nofollow')
                        i.fa.fa-bookmark-o
        li
            .content
                a.title(href='#', target='_blank') 山中故事
                a.author-avatar(href='#')
                    img.img-circle(src='images/avatar.jpeg')
                a.content(href='#', target='_blank')
                    | 一       我租住的房子在山下一个小村落里，一个月只要180块钱。屋内很简陋，只有一张床，一张桌子和一个靠背椅，床上只铺着一床竹席。晚上蚊子特别多，刚来我就去村子小卖部买了一包蚊香，质量很差，燃起来很呛人。早上一起来，地上落满了虫子的尸体。我又去买了一个电蚊香，虽然不呛人，但地上依然是虫...
                .article-info
                    a.author(href='#') 破罐
                    i.fa.fa-book
                    a.notebook(href='#') 日記本
                    i.fa.fa-th
                    a.collections(href='/collection/dqfRwQ') 短篇小说,
                    a.collections(href='/collection/fcd7a62be697') 身边的故事,
                    a.collections(href='/collection/b17398aad58e') 毒眼寻珠
                    a(href='#', target='_blank')
                        i.fa.fa-comments-o
                        | 1
                    a.like-icon-button(data-method='post', data-remote='true', data-type='json', href='/notes/208343/like', rel='nofollow')
                        i.fa.fa-heart-o
                        | 3
                    a#bookmark_note_208343.bookmark(data-method='post', data-remote='true', href='/notes/4a220050e500/bookmark', rel='nofollow')
                        i.fa.fa-bookmark-o
        li
            .content
                a.title(href='#', target='_blank') 山中故事
                a.author-avatar(href='#')
                    img.img-circle(src='images/avatar.jpeg')
                a.content(href='#', target='_blank')
                    | 一       我租住的房子在山下一个小村落里，一个月只要180块钱。屋内很简陋，只有一张床，一张桌子和一个靠背椅，床上只铺着一床竹席。晚上蚊子特别多，刚来我就去村子小卖部买了一包蚊香，质量很差，燃起来很呛人。早上一起来，地上落满了虫子的尸体。我又去买了一个电蚊香，虽然不呛人，但地上依然是虫...
                .article-info
                    a.author(href='#') 破罐
                    i.fa.fa-book
                    a.notebook(href='#') 日記本
                    i.fa.fa-th
                    a.collections(href='/collection/dqfRwQ') 短篇小说,
                    a.collections(href='/collection/fcd7a62be697') 身边的故事,
                    a.collections(href='/collection/b17398aad58e') 毒眼寻珠
                    a(href='#', target='_blank')
                        i.fa.fa-comments-o
                        | 1
                    a.like-icon-button(data-method='post', data-remote='true', data-type='json', href='/notes/208343/like', rel='nofollow')
                        i.fa.fa-heart-o
                        | 3
                    a#bookmark_note_208343.bookmark(data-method='post', data-remote='true', href='/notes/4a220050e500/bookmark', rel='nofollow')
                        i.fa.fa-bookmark-o
        li
            .content
                a.title(href='#', target='_blank') 山中故事
                a.author-avatar(href='#')
                    img.img-circle(src='images/avatar.jpeg')
                a.content(href='#', target='_blank')
                    | 一       我租住的房子在山下一个小村落里，一个月只要180块钱。屋内很简陋，只有一张床，一张桌子和一个靠背椅，床上只铺着一床竹席。晚上蚊子特别多，刚来我就去村子小卖部买了一包蚊香，质量很差，燃起来很呛人。早上一起来，地上落满了虫子的尸体。我又去买了一个电蚊香，虽然不呛人，但地上依然是虫...
                .article-info
                    a.author(href='#') 破罐
                    i.fa.fa-book
                    a.notebook(href='#') 日記本
                    i.fa.fa-th
                    a.collections(href='/collection/dqfRwQ') 短篇小说,
                    a.collections(href='/collection/fcd7a62be697') 身边的故事,
                    a.collections(href='/collection/b17398aad58e') 毒眼寻珠
                    a(href='#', target='_blank')
                        i.fa.fa-comments-o
                        | 1
                    a.like-icon-button(data-method='post', data-remote='true', data-type='json', href='/notes/208343/like', rel='nofollow')
                        i.fa.fa-heart-o
                        | 3
                    a#bookmark_note_208343.bookmark(data-method='post', data-remote='true', href='/notes/4a220050e500/bookmark', rel='nofollow')
                        i.fa.fa-bookmark-o
        li
            .content
                a.title(href='#', target='_blank') 山中故事
                a.author-avatar(href='#')
                    img.img-circle(src='images/avatar.jpeg')
                a.content(href='#', target='_blank')
                    | 一       我租住的房子在山下一个小村落里，一个月只要180块钱。屋内很简陋，只有一张床，一张桌子和一个靠背椅，床上只铺着一床竹席。晚上蚊子特别多，刚来我就去村子小卖部买了一包蚊香，质量很差，燃起来很呛人。早上一起来，地上落满了虫子的尸体。我又去买了一个电蚊香，虽然不呛人，但地上依然是虫...
                .article-info
                    a.author(href='#') 破罐
                    i.fa.fa-book
                    a.notebook(href='#') 日記本
                    i.fa.fa-th
                    a.collections(href='/collection/dqfRwQ') 短篇小说,
                    a.collections(href='/collection/fcd7a62be697') 身边的故事,
                    a.collections(href='/collection/b17398aad58e') 毒眼寻珠
                    a(href='#', target='_blank')
                        i.fa.fa-comments-o
                        | 1
                    a.like-icon-button(data-method='post', data-remote='true', data-type='json', href='/notes/208343/like', rel='nofollow')
                        i.fa.fa-heart-o
                        | 3
                    a#bookmark_note_208343.bookmark(data-method='post', data-remote='true', href='/notes/4a220050e500/bookmark', rel='nofollow')
                        i.fa.fa-bookmark-o
        li
            .content
                a.title(href='#', target='_blank') 山中故事
                a.author-avatar(href='#')
                    img.img-circle(src='images/avatar.jpeg')
                a.content(href='#', target='_blank')
                    | 一       我租住的房子在山下一个小村落里，一个月只要180块钱。屋内很简陋，只有一张床，一张桌子和一个靠背椅，床上只铺着一床竹席。晚上蚊子特别多，刚来我就去村子小卖部买了一包蚊香，质量很差，燃起来很呛人。早上一起来，地上落满了虫子的尸体。我又去买了一个电蚊香，虽然不呛人，但地上依然是虫...
                .article-info
                    a.author(href='#') 破罐
                    i.fa.fa-book
                    a.notebook(href='#') 日記本
                    i.fa.fa-th
                    a.collections(href='/collection/dqfRwQ') 短篇小说,
                    a.collections(href='/collection/fcd7a62be697') 身边的故事,
                    a.collections(href='/collection/b17398aad58e') 毒眼寻珠
                    a(href='#', target='_blank')
                        i.fa.fa-comments-o
                        | 1
                    a.like-icon-button(data-method='post', data-remote='true', data-type='json', href='/notes/208343/like', rel='nofollow')
                        i.fa.fa-heart-o
                        | 3
                    a#bookmark_note_208343.bookmark(data-method='post', data-remote='true', href='/notes/4a220050e500/bookmark', rel='nofollow')
                        i.fa.fa-bookmark-o
        li
            .content
                a.title(href='#', target='_blank') 山中故事
                a.author-avatar(href='#')
                    img.img-circle(src='images/avatar.jpeg')
                a.content(href='#', target='_blank')
                    | 一       我租住的房子在山下一个小村落里，一个月只要180块钱。屋内很简陋，只有一张床，一张桌子和一个靠背椅，床上只铺着一床竹席。晚上蚊子特别多，刚来我就去村子小卖部买了一包蚊香，质量很差，燃起来很呛人。早上一起来，地上落满了虫子的尸体。我又去买了一个电蚊香，虽然不呛人，但地上依然是虫...
                .article-info
                    a.author(href='#') 破罐
                    i.fa.fa-book
                    a.notebook(href='#') 日記本
                    i.fa.fa-th
                    a.collections(href='/collection/dqfRwQ') 短篇小说,
                    a.collections(href='/collection/fcd7a62be697') 身边的故事,
                    a.collections(href='/collection/b17398aad58e') 毒眼寻珠
                    a(href='#', target='_blank')
                        i.fa.fa-comments-o
                        | 1
                    a.like-icon-button(data-method='post', data-remote='true', data-type='json', href='/notes/208343/like', rel='nofollow')
                        i.fa.fa-heart-o
                        | 3
                    a#bookmark_note_208343.bookmark(data-method='post', data-remote='true', href='/notes/4a220050e500/bookmark', rel='nofollow')
                        i.fa.fa-bookmark-o
        li
            .content
                a.title(href='#', target='_blank') 山中故事
                a.author-avatar(href='#')
                    img.img-circle(src='images/avatar.jpeg')
                a.content(href='#', target='_blank')
                    | 一       我租住的房子在山下一个小村落里，一个月只要180块钱。屋内很简陋，只有一张床，一张桌子和一个靠背椅，床上只铺着一床竹席。晚上蚊子特别多，刚来我就去村子小卖部买了一包蚊香，质量很差，燃起来很呛人。早上一起来，地上落满了虫子的尸体。我又去买了一个电蚊香，虽然不呛人，但地上依然是虫...
                .article-info
                    a.author(href='#') 破罐
                    i.fa.fa-book
                    a.notebook(href='#') 日記本
                    i.fa.fa-th
                    a.collections(href='/collection/dqfRwQ') 短篇小说,
                    a.collections(href='/collection/fcd7a62be697') 身边的故事,
                    a.collections(href='/collection/b17398aad58e') 毒眼寻珠
                    a(href='#', target='_blank')
                        i.fa.fa-comments-o
                        | 1
                    a.like-icon-button(data-method='post', data-remote='true', data-type='json', href='/notes/208343/like', rel='nofollow')
                        i.fa.fa-heart-o
                        | 3
                    a#bookmark_note_208343.bookmark(data-method='post', data-remote='true', href='/notes/4a220050e500/bookmark', rel='nofollow')
                        i.fa.fa-bookmark-o
        li
            .content
                a.title(href='#', target='_blank') 山中故事
                a.author-avatar(href='#')
                    img.img-circle(src='images/avatar.jpeg')
                a.content(href='#', target='_blank')
                    | 一       我租住的房子在山下一个小村落里，一个月只要180块钱。屋内很简陋，只有一张床，一张桌子和一个靠背椅，床上只铺着一床竹席。晚上蚊子特别多，刚来我就去村子小卖部买了一包蚊香，质量很差，燃起来很呛人。早上一起来，地上落满了虫子的尸体。我又去买了一个电蚊香，虽然不呛人，但地上依然是虫...
                .article-info
                    a.author(href='#') 破罐
                    i.fa.fa-book
                    a.notebook(href='#') 日記本
                    i.fa.fa-th
                    a.collections(href='/collection/dqfRwQ') 短篇小说,
                    a.collections(href='/collection/fcd7a62be697') 身边的故事,
                    a.collections(href='/collection/b17398aad58e') 毒眼寻珠
                    a(href='#', target='_blank')
                        i.fa.fa-comments-o
                        | 1
                    a.like-icon-button(data-method='post', data-remote='true', data-type='json', href='/notes/208343/like', rel='nofollow')
                        i.fa.fa-heart-o
                        | 3
                    a#bookmark_note_208343.bookmark(data-method='post', data-remote='true', href='/notes/4a220050e500/bookmark', rel='nofollow')
                        i.fa.fa-bookmark-o
        li
            .content
                a.title(href='#', target='_blank') 山中故事
                a.author-avatar(href='#')
                    img.img-circle(src='images/avatar.jpeg')
                a.content(href='#', target='_blank')
                    | 一       我租住的房子在山下一个小村落里，一个月只要180块钱。屋内很简陋，只有一张床，一张桌子和一个靠背椅，床上只铺着一床竹席。晚上蚊子特别多，刚来我就去村子小卖部买了一包蚊香，质量很差，燃起来很呛人。早上一起来，地上落满了虫子的尸体。我又去买了一个电蚊香，虽然不呛人，但地上依然是虫...
                .article-info
                    a.author(href='#') 破罐
                    i.fa.fa-book
                    a.notebook(href='#') 日記本
                    i.fa.fa-th
                    a.collections(href='/collection/dqfRwQ') 短篇小说,
                    a.collections(href='/collection/fcd7a62be697') 身边的故事,
                    a.collections(href='/collection/b17398aad58e') 毒眼寻珠
                    a(href='#', target='_blank')
                        i.fa.fa-comments-o
                        | 1
                    a.like-icon-button(data-method='post', data-remote='true', data-type='json', href='/notes/208343/like', rel='nofollow')
                        i.fa.fa-heart-o
                        | 3
                    a#bookmark_note_208343.bookmark(data-method='post', data-remote='true', href='/notes/4a220050e500/bookmark', rel='nofollow')
                        i.fa.fa-bookmark-o
        li
            .content
                a.title(href='#', target='_blank') 山中故事
                a.author-avatar(href='#')
                    img.img-circle(src='images/avatar.jpeg')
                a.content(href='#', target='_blank')
                    | 一       我租住的房子在山下一个小村落里，一个月只要180块钱。屋内很简陋，只有一张床，一张桌子和一个靠背椅，床上只铺着一床竹席。晚上蚊子特别多，刚来我就去村子小卖部买了一包蚊香，质量很差，燃起来很呛人。早上一起来，地上落满了虫子的尸体。我又去买了一个电蚊香，虽然不呛人，但地上依然是虫...
                .article-info
                    a.author(href='#') 破罐
                    i.fa.fa-book
                    a.notebook(href='#') 日記本
                    i.fa.fa-th
                    a.collections(href='/collection/dqfRwQ') 短篇小说,
                    a.collections(href='/collection/fcd7a62be697') 身边的故事,
                    a.collections(href='/collection/b17398aad58e') 毒眼寻珠
                    a(href='#', target='_blank')
                        i.fa.fa-comments-o
                        | 1
                    a.like-icon-button(data-method='post', data-remote='true', data-type='json', href='/notes/208343/like', rel='nofollow')
                        i.fa.fa-heart-o
                        | 3
                    a#bookmark_note_208343.bookmark(data-method='post', data-remote='true', href='/notes/4a220050e500/bookmark', rel='nofollow')
                        i.fa.fa-bookmark-o
    .more
        button.more-button
            span 点击查看更多
