//-jQuery (necessary for Bootstrap's JavaScript plugins)
script(src='http://cdn.bootcss.com/jquery/1.11.0/jquery.min.js')
//-Include all compiled plugins (below), or include individual files as needed
script(src='http://cdn.bootcss.com/twitter-bootstrap/3.2.0/js/bootstrap.min.js')
//-Bootstrap-plugins
script(src='/javascripts/jquery.bootstrap-growl.min.js')
script(src='http://cdn.bootcss.com/bootstrap-tokenfield/0.12.0/bootstrap-tokenfield.min.js')
script(src='http://cdn.bootcss.com/pace/0.5.5/pace.min.js')
script(src='http://cdn.bootcss.com/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js')
script(src='/javascripts/fileinput.min.js')
script(src='/javascripts/snap.svg-min.js')