script.
    $(document).ready(function () {
        $('#blogForm').bootstrapValidator({
            message: '此项内容不符合规则',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                title: {
                    validators: {
                        notEmpty: {
                            message: '标题不能为空！'
                        },
                        stringLength: {
                            max: 40,
                            message: '标题最多20个字！'
                        }
                    }
                },
                tags: {
                    validators: {}
                },
                description: {
                    validators: {
                        stringLength: {
                            max: 20,
                            message: '简介最多20个字！'
                        }
                    }
                }
            }
        });
    })