extends ../layout
block css
block illustrative
block content
    include ../sections/_blog_heading
    include ../sections/_blog_list

block js
block script
    script.
        $(document).ready(function () {
            $("#search-input").keyup(function(event){
                if(event.keyCode == 13){
                    window.location.replace($("#search-path").val() + "/search/" + $("#search-input").val());
                }
            });
        });